body{
    text-align: center;
}
.para{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
/* adapted from https://codepen.io/imprakash/pen/GgNMXO */
.box {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 60px auto;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .content {
    max-height: 75%;
    overflow: auto;
}
@media screen and (max-width: 1000px){
    .box{
      width: 90%;
    }
    .popup{
      width: 90%;
    }
}
/* end of css popup box*/
  
#plush{
    height: 250px;
    padding-left: 100px;
}
#scarf{
    height: 200px;
}
#ding{
    height:300px;
}
#birthday{
    width: 550px;
    padding-left: 50px;
}
#mug{
    height: 225px;
}
#tile{
    width: 500px;
}
